node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
test.ts
dummy.txt
.vercel

INVOEX/
test-app.js
test-ui.js
test_keys.js
.firebase/
service-account.json
auth-users.jsonfirebase-applet-config.json

